/* START CSS SPRITE FOR PLUS MINUS */
.plus-img {
    width: 18px;
    height: 17px;
    background:url(/images/plusminus.gif) no-repeat;
    background-position: 0 0;
    float:left;
    border: 0;
    margin-right: 4px;
}

.minus-img {
    width: 18px;
    height: 17px;
    background:url(/images/plusminus.gif) no-repeat;
    background-position: 0px -17px;
    float:left;
    border: 0;
    margin-right: 4px;
}

